body{
    background-color: black;
}
#map {
    display: grid;
    margin: auto;
    width: fit-content;
}

.wall,
.empty,
.point,
.pacman ,
.ghost{
    background-repeat: none!important;
    background-size: cover!important;
    background-color: black!important;
}

.wall {
    background: url('/includes/images/mur.gif');

    /*border: solid 1px rgb(23, 146, 228);*/
    background-size: cover;
}

.empty {
    background: url('/includes/images/sol.gif');
    background-size: cover;
}

.point {
    background: url('/includes/images/bonbon.gif');
    transform: scale(0.5);
    background-size: cover;
}

.bonbon {
    background: url('/includes/images/bonbon.gif');
    background-size: cover;
    transition: transform 0.2s linear;
}

.pacman {
    background: url('/includes/images/pacman5.gif');
    background-size: cover;
    transform: rotate(0deg);
}

.ghost1{
    background: url('/includes/images/fantome1.gif');
    background-size: cover;
    transform: rotate(0deg);
    transition: transform 0.2s linear;
}

.ghost2{
    background: url('/includes/images/fantome2.gif');
    background-size: cover;
    transform: rotate(0deg);
    transition: transform 0.2s linear;
}

.ghost3{
    background: url('/includes/images/fantome3.gif');
    background-size: cover;
    transform: rotate(0deg);
    transition: transform 0.2s linear;
}

.ghost4{
    background: url('/includes/images/fantome3.gif');
    background-size: cover;
    filter: hue-rotate(99deg);
    transform: rotate(0deg) ;
    transition: transform 0.2s linear;
}

.score{
    color: aliceblue;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    width: 150px; 
    margin: auto; 
    padding: 30px;
    border: solid 1px #3cb2d9;
    border-radius: 8px;
}